<h3>Comment一覧</h3>
<% @comments.each do |comment| %>
  <table class="table table-striped-columns mt-5">
    <tr>
      <td>コメントユーザー名</td>
      <td><%= comment.user.name %></td>
    </tr>
    <tr>
      <td>ユーザータイプ</td>
      <td><%= comment.user_type %></td>
    </tr>
    <tr>
      <td>コメント内容</td>
      <td><%= comment.content %><%= link_to "delete", admin_comment_path(comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger ml-3" %></td>
    </tr>
    <br />
  </table>
<% end %>
