<div class = "row">
  <div class = "col-sm-10 offset-sm-1 col-md-6 offset-md-3">
    <h2 class ="mt-3 text-center">ブックマーク一覧</h2>
    <% @user_bookmarks.each do |bookmark| %>
      <div class = "user-field">
        <table class="table table-borderless">
          <tr>
            <td class="profile-image-col align-middle items-center">
              <%= link_to image_tag(bookmark.user.get_profile_image(100,100)), client_path(bookmark.post.client_id), class: "rounded-circle"  %>
            </td>
            <td class="user-show-col align-middle items-center">
              <%= link_to bookmark.post.title.truncate(20), post_path(bookmark.post.id) %>
            </td>
            <td class="user-show-col align-middle items-center">
              <%= link_to "削除", post_bookmark_path(bookmark.post_id, bookmark.id), method: :delete, class: "btn btn-danger" %>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>