<h3>Bookmark一覧</h3>
<% @bookmarks.each do |bookmark| %>
  <table class="table table-striped-columns mt-3">
    <tr>
      <td>ブックマークした投稿ID</td>
      <td><%= link_to bookmark.post_id, post_path(bookmark.post_id) %> <br />
      <%= link_to "delete", admin_contractor_bookmark_path(id: bookmark.id), method: :delete, data: { confirm: "本当に削除しますか？", class: "mt-3" } %></td>
    </tr>
    <br />
  </table>
<% end %>
<%= link_to "ユーザページに戻る", admin_contractor_path(@contractor), class: "mb-5 d-block" %>