<%= render "layouts/admin_searchbar.html.erb" %>
<h3>Client一覧</h3>
<% @clients.each do |client| %>
<table class="table table-striped-columns mt-5">
    <tr>
      <td><%= link_to client.name, client_path(client.id) %></td>
      <td><%= link_to "delete", admin_client_path(client), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %></td>
    </tr>
</table>
</br >
<% end %>
