<h1>Client一覧</h1>
<% @clients.each do |client| %>
<%= link_to client.name, client_path(client.id) %>
<%= link_to "delete", admin_client_path(client), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
</br >
<% end %>
