<h1>Contractor一覧</h1>
  <% @contractors.each do |contractor| %>
  <%= contractor.name %>
  <%= link_to "delete", admin_contractor_path(contractor), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
  <br />
<% end %>
