<div class = "row justify-content-center mt-5">
  <div class = "about-content col-lg-6">
    <h2>ABOUT</h2>
    <h3 class = "about-overview mt-3">Creativities概要</h3>
    <p>近年動画コンテンツが増加したことにより動画を使ったプロモーションを制作する需要が高まる中動画クリエイターが不足している状況です。フリーランスや副業で仕事をする個人も増えていますが、
    まだまだ手が足りていない企業が多いのが現状です。それを解決する為に開発したのがCreativitiesです。</p>

    <h3 class = "about-heading mt-5">動画市場をもっと大きく</h3>
    <p>現状の課題から私たちは本SNSでご利用者様のビジネスチャンスを広げ、どの業界や規模の企業でも動画を使ったメディアで企業のブランディングやPRが一般的になる世の中を目指します。</p>
  </div>

  <div class = "about-background col-lg-6">
    <div class ="about-image" style = 'background-image: url("<%= asset_path('business.jpg') %>")'>
  </div>
</div>