  </div>
  <div class ="background-content" style = 'background-image: url("<%= asset_path('edit-video.jpg') %>")'>
    <div class = "background-left">
      <div class = "background-left-texts">
        <div class = "background-texts">
          <h4>新たな価値を生み出し成長できるSNS</h4>
          <p>Creativitiesは動画制作やYoutube、Tiktokなどのメディア運営を依頼したい人と<br />
             動画クリエイター、マーケーターがマッチングするSNSです。</p>
        </div>

        <div class = "trouble-text">
          <h4>このSNSに向いている方</h4>
          <ul>
            <li>仕事で成長することが好きな方。</li>
            <li>動画の制作の経験があり、クライアントと取引中の方</li>
            <li>YoutubeやTiktokの運用経験があり、伸びるロジックが分かる方</li>
          </ul>
        </div>

        <div class = "appeal-text">
          <h4>Creativitiesを通じて仕事をさらに面白く</h4>
          <p>様々なクライアントと繋がり、<br />
              今の仕事の単価UPや人脈構築にも最適です！</p>
        </div>
      </div>
    </div>
  </div>

  <div class = "login-area">
    <div class = "login-content">
      <P>仕事を探している個人の方はこちら<%= link_to "受注者新規登録" ,new_contractor_registration_path, class: "btn btn-success ml-2" %></P>
    </div>

  <div class = "login-another">
    <div class = "another-link">
      <p>仕事を依頼したい法人様は<%= link_to "こちらへ" ,root_path %></p>
    </div>
  </div>

  <script>
    $(document).on('turbolinks:load',function(){
      $('.background-content').hide().fadeIn(2000);
    });
  </script>