  </div>
  <div class ="background-content" style = 'background-image: url("<%= asset_path('team.jpg') %>")'>
    <div class = "background-left">
      <div class = "background-left-texts">
        <div class = "background-texts">
          <h4>優秀なクリエイターと繋がれるSNS</h4>
          <p>Creativitiesは動画制作やYoutube、Tiktokなどのメディア運営を依頼したい人と<br />
             動画クリエイター、マーケーターがマッチングするSNSです。</p>
        </div>

        <div class = "trouble-text">
          <h4>こんな悩みありませんか？</h4>
          <ul>
            <li>動画編集者が足りない…</li>
            <li>自社のYoutubeの運営を手伝ってくれる人が欲しい！</li>
            <li>新しくYoutubeやTiktokでチャンネルをつくってPRしたい！</li>
          </ul>
        </div>

        <div class = "appeal-text">
          <h4>全てこのCreativitiesで解決できます！</h4>
          <p>様々な動画編集者や動画マーケターと繋がり、<br />
              企業やサービス、求人などの認知の拡大に貢献します</p>
        </div>
      </div>
    </div>
  </div>

  <div class = "login-area">
    <div class = "login-content">
      <p>仕事を依頼したい法人様はこちら<%= link_to "発注者新規登録" ,new_client_registration_path, class: "btn btn-success ml-2" %></p>
    </div>

  <div class = "login-another">
    <div class = "another-link">
      <P>仕事を探している個人の方は<%= link_to "こちらへ" ,job_path %></P>
    </div>
  </div>

  <script>
    $(document).on('turbolinks:load',function(){
      $('.background-content').hide().fadeIn(2000);
    });
  </script>