@use '~bootstrap/scss/bootstrap';
body {
  background-color: #f5f5f5;
}

//header開始
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar {
  width: 100%;
  height: 120px;
}

.app-logo {
  width:100px;
  height:auto;
}

.card-header {
  background-color: #171768;
}

//header終了

main {
  background-color: #f5f5f5;
  margin-bottom: 100px;
}
//homes/Top開始
.background-content {
background-size: cover;
background-position: center;
height: 550px;
}

.background-left {
  background-color: black;
  display: inline-block;
  width: 50%;
  background-color: rgba( 0, 0, 0, 0.7);
  height: 100%;
}

.background-left-texts {
  padding: 30px;
}

.background-texts h4,p {
  font-weight: bold;
  text-align: left;
}

.background-texts h4 {
  color : #00CCCC;
}

.background-texts p, {
  color : white;
}

.trouble-text {
  margin-top : 50px;
}

.trouble-text p,h4,li{
  font-weight: bold;
  text-align: left;
}

.trouble-text h4 {
  color: #FF3366;
}

.trouble-text li {
  color: white;
}

.appeal-text {
  margin-top : 50px;
}

.appeal-text h4,p {
  font-weight: bold;
  text-align: left;
}

.appeal-text h4 {
  color: #DAA520;
}

.appeal-text p {
  color : white;
}

.login-content {
  padding: 40px;
}

.login-content p {
  color: brack;
}

.login-another {
  padding-left: 40px;
}

//homes/top終了

.content-form {
  margin-top: 5px;
}

.rounded-circle {
  border-radius: 50%;
}

.user-field {
  width: 100%;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.profile-image-col {
  width: 30%;
  text-align: center;
}

.user-name-col {
  width: 45%;
  word-wrap: break-word;
  white-space: normal;
}

.user-show-col {
  width: 25%;
  text-align: center;
}

.about-image {
  background-size: cover;
  background-position: right;
  height: 450px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.45);
  border-radius: 5px;
}

.about-content h2 {
    padding: 0.8rem 0;
    margin-bottom: 0.2rem;
    background-image: linear-gradient(90deg, #b2d5de 0 20%, #dedede 20%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: bottom;
    color: #323232;
    font-weight: bold;
    font-size: 26px;
}

.client-post {
  margin-top: 20px;
  border-bottom: 2px solid #F5F5F5;
}

.post-index {
  border-bottom: 2px solid #DDDDDD;
}

.comment-show {
  display: none;
}

.comment-button {
  cursor: pointer;
}

.comment-button:hover {
  width: 70%;
  color: white;
    background-color: #333399;
    }

.app-logo2 {
  width:80px;
  height:auto;
}

.message-row {
  display: flex;
  align-items: flex-start;

  .message-content {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.5;
  }

  &.right-message {
    justify-content: flex-end;

    .message-content {
      background-color: #d1f0ff;
      color: #333;
    }
  }

  &.left-message {
    justify-content: flex-start;

    .message-content {
      background-color: white;
      color: #333;
    }
  }
}

.message-info {
  font-size: 12px;
}

//post_sidebarの固定
.post-sidebar {
  position: fixed;
  left: 200px;
}
//post_sidebarここまで

//adminの検索欄
.search-field {
  width: 50%;
}
//adminの検索欄ここまで

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 430px) {
  h3 {
   font-size: 20px;
  }

  p {
  font-size: 13px;
  }

  .navbar-nav.show .nav-link {
    color: white;
  }

  .navbar-collapse {
  transition: background-color 0.1s ease;
}
.navbar-collapse.show {
  background-color: rgba(0, 0, 0, 0.7); /* 背景を少し暗く */
  position: fixed; /* 固定して全体をカバー */
  top: 120px;
  left: 0;
  bottom: 90px;
  width: 100%;
  height: 100%;
  z-index: 1050;
}

#navbarNav a {
  color: #DDDDDD;
  text-align: center;
}

  .background-left {  //topページのレイアウト
    width: 100%;
  }
  .background-left-texts h3 {
    font-size: 20px;
  }
  .background-left-texts p {
    font-size: 13px;
  }
  .background-left-texts li {
    font-size: 13px;
  }　　//topページのレイアウトここまで

  .about-content h3 { //aboutページのレイアウトここから
    font-size: 20px;
  }

  .about-content p {
    font-size: 13px;
  }

  .about-image {
    height: 250px;
  }

  .post-sidebar {
    width: 100%;
    margin: 0 auto;
  }

  .post-sidebar.col-lg-3 {
    max-width: 80%;
    position: static;
    margin: 0 auto;
  }

  .post-comments {
    margin: 0 auto;
  }

  .fa-solid .fa-bookmark {
    margin-left: auto
  }

  .search-submit {
    margin-bottom: 3px;
  }

  .picup-search {
    display: none;
  }

  .main-content {
    width: 100%;
    margin: 0 auto;
  }

  .main-content.col-sm-10,
  .main-content.col-lg-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .images-size {
    width: 80%;
    text-align: center;
  }

  .image-size {
    width: 100%;
    text-align: center;
  }

  .post-comments {
    width: 100%;
  }

  .profile-text a {
    font-size: 10px;
  }

  .review-user-body {
    display: none;
  }

  .form-message {
    margin-top: 0px;
  }

  .message-field {
    float: right;
  }

  .message-form {
    height: 30px;
    margin: 5px 0px;
  }

  .form-message {
    width: 80%;
    margin: 0 auto;
  }

  .form-message.row.justify-content-end {
    display: block;
    justify-content: initial;
    align-items: initial;
  }


}

@media (max-width: 960px) {
.navbar-nav.show .nav-link {
    color: white;
  }

  .navbar-collapse {
  transition: background-color 0.1s ease;
}
.navbar-collapse.show {
  background-color: rgba(0, 0, 0, 0.7); /* 背景を少し暗く */
  position: fixed; /* 固定して全体をカバー */
  top: 120px;
  left: 0;
  bottom: 90px;
  width: 100%;
  height: 100%;
  z-index: 1050;
}

#navbarNav a {
  color: #DDDDDD;
  text-align: center;
}

  .background-left {  //topページのレイアウト
    width: 100%;
  }
  .background-left-texts h3 {
    font-size: 20px;
  }
  .background-left-texts p {
    font-size: 13px;
  }
  .background-left-texts li {
    font-size: 13px;
  }　　//topページのレイアウトここまで

  .about-content h3 { //aboutページのレイアウトここから
    font-size: 20px;
  }

  .about-content p {
    font-size: 13px;
  }

  .about-image {
    height: 250px;
  }

  .post-sidebar {
    width: 100%;
    margin: 0 auto 0 0;
  }

  .post-sidebar.col-lg-3 {
    max-width: 80%;
    position: static;
    margin: 0 auto 0 0;
  }

  .post-comments {
    margin: 0 auto;
  }

  .fa-solid .fa-bookmark {
    margin-left: auto
  }

  .search-submit {
    margin-bottom: 3px;
  }

  .picup-search {
    display: none;
  }

  .main-content {
    width: 100%;
    margin: 0 auto;
  }

  .main-content.col-sm-10,
  .main-content.col-lg-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .images-size {
    width: 80%;
    text-align: center;
  }

  .image-size {
    width: 100%;
    text-align: center;
  }

  .post-comments {
    width: 100%;
  }

  .profile-text a {
    font-size: 10px;
  }

  .review-user-body {
    display: none;
  }

  .form-message {
    margin-top: 0px;
  }

  .message-field {
    float: right;
  }

  .message-form {
    height: 30px;
    margin: 5px 0px;
  }

  .form-message {
    width: 80%;
    margin: 0 auto;
  }

  .form-message.row.justify-content-end {
    display: block;
    justify-content: initial;
    align-items: initial;
  }
}