<div class="col-md-6 mx-auto">
  <% @notifications.each do |notification| %>
    <form class="form-inline">
      <span>
        <%= avator_for(notification.visitor) %>
        <span><%= notification.notification_message %></span>
      </span>
    </form>
    <small class="text-muted text-right"><%= time_ago_in_words(notification.created_at) %></small>
    <hr>
  <% end %>
</div>