<div class="col-md-6 mx-auto">
  <form class="form-inline">
    <span>
      <%= avatar_for(notification.visitor) %>
      <strong><%= notification.visitor.name %></strong>
      <span><%= notification.notification_message %></span>
    </span>
  </form>
  <small class="text-muted text-right"><%= notification.created_at %></small>
  <hr>
</div>